<!DOCTYPE html>

<html>


<head>


<title>Vehicle Registry</title>

<link rel="stylesheet" href="/css/vehicle.css">

</head>



<body>


<h1>Vehicle Registry</h1>



<a href="/vehicles/add">
+ Register Vehicle
</a>
<table >


<tr>

<th>Registration</th>

<th>Name</th>

<th>Type</th>

<th>Capacity</th>

<th>Odometer</th>

<th>Cost</th>

<th>Status</th>

<th>Region</th>
</tr>
<% vehicles.forEach(vehicle=>{ %>
<tr>
<td><%= vehicle.registration_number %></td>
<td><%= vehicle.vehicle_name %></td>
<td><%= vehicle.vehicle_type %></td>
<td><%= vehicle.max_load_capacity %> kg</td>
<td><%= vehicle.odometer %></td>
<td>₹ <%= vehicle.acquisition_cost %></td>
<td><%= vehicle.status %></td>
<td><%= vehicle.region %></td>
</tr>

<% }) %>
</table>
</body>

</html>